body {
    background: #000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#apps {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    ul {
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        li {
            padding: 10px;
            display: inline-block;
            
            .icon {
                width: 64px;
                height: 64px;
           }
       }

        &.one {
            z-index: 3;

            li {
                .icon {
                    background: #bada55;
                }
            }   
        }


        &.two {
            z-index: 2;

            li {
                .icon {
                    background: blue;                    
                }
            }   
        }

        &.three {
            z-index: 1;
            
            li {
                .icon {
                    background: red;                    
                }
            }              
        }
    }
}